header {
    height: 200px;
    width: 100%;
    background: #2c3e50;
    color: #fff;
    font-size: 25pt;
    text-align: left;
}

#zx {
    float: left;
}

.head {
    max-width: 960px;
}

#hyper {
    text-align: center;
    }

nav {
    background-color: #2c3e50;
    max-width: 960px;
    font-size: 20pt;
    align-items: center;
}

table {
    border: 1px solid grey;
    color: #1E0BF4;
}

th {
    border: 1px solid grey;
    color: #1E0BF4;
}
td {
    border: 1px solid grey;
    color: #1E0BF4;
}

#content {
    background-color: #2c3e50;
    text-align: center;
    align-items: center;
    max-width: 980px;
}

li {
    text-align: left;
}

a {
    color: white;
}

#tab {
    background-color: #2c3e50;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #2c3e50;

    text-align: center;
}

#end {
    
    color: #ffee00;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
.nechet {
    background-color: #F72690;
}

.chet {
    background-color: #12F346;
}

@media screen and (min-width: 800px) and (orientation: landscape) {
    nav {
        max-width: 980px;
    }
}
